#root {
  font-family: tajawal, sans-serif;
  max-width: auto;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: tajawal, sans-serif;
  font-size: 2.5rem;
}